/* Importar fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    color: #333;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #0044cc;
    font-weight: 700;
}

p {
    color: #777;
    font-weight: 400;
}

.card {
    margin-bottom: 30px;
    padding: 20px;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
}

h2 {
    margin-bottom: 20px;
    color: #fff;
    font-weight: 700;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
    font-weight: 500;
}

input, select {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.btn {
    padding: 10px 20px;
    background-color: #0044cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #003399;
}

.list-group {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-group li {
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

#total-gastos, #saldo {
    font-weight: bold;
}

#total-gastos {
    color: #ff4d4d;
}

#saldo {
    color: #4dff4d;
}
